<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row mt-3">
		<div class="col-md-3">
			<div class="shop card rounded">
			    <div class="shop card-image">
			    	<span class="percent text-center">-25%</span>
			        <img class="img-fluid" src="img/Holodos.jpeg" />
			    </div>
			    <div class="shop card-body text-left">
			    	<div class="sh-price m-auto">
			            <span class="price">9 900 ₸</span>
			    	</div>
			    	<div class="sh-brand mt-2">
			            <span class="brandName">LG</span>
			    	</div>
			    	<div class="sh-type m-auto">
			        	<span class="tsh">B509CESL</span>
			    	</div>
			    	<div class="sh-but mt-2">
			        	<button type="button" class="btn btn-success">Buy</button>
			        </div>
			    </div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="shop card rounded">
			    <div class="shop card-image">
			    	<span class="percent text-center">-25%</span>
			        <img class="img-fluid" src="img/SamsungA70.jpg" />
			    </div>
			    <div class="shop card-body text-left">
			    	<div class="sh-price m-auto">
			            <span class="price">9 900 ₸</span>
			    	</div>
			    	<div class="sh-brand mt-2">
			            <span class="brandName">Samsung</span>
			    	</div>
			    	<div class="sh-type m-auto">
			        	<span class="tsh">Galaxy A-70</span>
			    	</div>
			    	<div class="sh-but mt-2">
			        	<button type="button" class="btn btn-success">Buy</button>
			        </div>
			    </div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="shop card rounded">
			    <div class="shop card-image">
			    	<span class="percent text-center">-25%</span>
			        <img class="img-fluid" src="img/airpods.pro.jpg" />
			    </div>
			    <div class="shop card-body text-left">
			    	<div class="sh-price m-auto">
			            <span class="price">9 900 ₸</span>
			    	</div>
			    	<div class="sh-brand mt-2">
			            <span class="brandName">Apple</span>
			    	</div>
			    	<div class="sh-type m-auto">
			        	<span class="tsh">Airpord Pro</span>
			    	</div>
			    	<div class="sh-but mt-2">
			        	<button type="button" class="btn btn-success">Buy</button>
			        </div>
			    </div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="shop card rounded">
			    <div class="shop card-image">
			    	<span class="percent text-center">-25%</span>
			        <img class="img-fluid" src="img/Upakovchik.jpg" />
			    </div>
			    <div class="shop card-body text-left">
			    	<div class="sh-price m-auto">
			            <span class="price">9 900 ₸</span>
			    	</div>
			    	<div class="sh-brand mt-2">
			            <span class="brandName">PROFTORG</span>
			    	</div>
			    	<div class="sh-type m-auto">
			        	<span class="tsh">Packer</span>
			    	</div>
			    	<div class="sh-but mt-2">
			        	<button type="button" class="btn btn-success">Buy</button>
			        </div>
			    </div>
			</div>
		</div>
	</div>
</div>
</body>
</html>