<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script src="https://kit.fontawesome.com/5d6650f6c1.js" crossorigin="anonymous"></script>
    <title>Story</title>
</head>
<body>

<style>
.alert-warning{
    margin: 10px;
    clear: both;
    width: 400px;
    text-align: center;
</style>
<div class="container">
    <a href="{% url 'exists' %}">Go to exists</a>
    {% for el in story %}
        <div class = "alert alert-warning">
            <h3>{{ el.username }}</h3>
            <p>{{ el.email }}</p>
            <p>{{ el.date }}</p>
            <p>{{ el.product }}</p>
            <a href="{% url 'story_detail' el.id %}" class = "btn btn-warning">Read more</a>
        </div>
    {% endfor %}
</div>
</body>
</html>